.authentication-body
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .image-container=image_tag 'logo-cruz.png'
    .inputs-group
      .group
        = f.password_field :current_password, autocomplete: "off", required: true
        %span.bar
        %label Contraseña actual
      .group
        = f.password_field :password, autocomplete: "off", required: true
        %span.bar
        %label Nueva contraseña
      .group
        = f.password_field :password_confirmation, autocomplete: "off", required: true
        %span.bar
        %label Confirmar nueva contraseña
      .links
        = link_to "Volver al home", root_path
      .actions
        %button.btn.btn-block CAMBIAR CONTRASEÑA
