%section.background
  .max-container
    .medium-container.slider
      .us
        %h3 VISIÓN
        %p Brindamos asistencias de sepelio  a las familias, acompañándolas desde nuestra fe católica, con espíritu de oración, reverencia  y esperanza en la Resurrección.
      .us
        %h3 MISIÓN
        %p Ser reconocidos como un Cementerio Católico que se preocupa por las familias y que está conformado por un grupo humano acogedor, unido y comprometido.
      .us
        %h3 IDENTIDAD CATÓLICA
        %p Somos una Institución  Católica que tiene la actividad sagrada de enterrar a las personas y de evangelizar a sus familias, brindándoles asistencias previsionales con esperanza cristiana y que ante la pérdida de un ser querido otorga una asistencia de sepultura digna y reverente para contribuir y realizar la misión de la Iglesia en la reconciliación y evangelización de la sociedad.
%section.obituario
  = image_tag 'logo-cruz.png'
  %h2 OBITUARIO
  .obituario
    %table
      %thead
        %tr
          %th Datos del beneficiario
          %th Sector
      %tbody
        - @people.each do |person|
          %tr
            %td= "#{person.nombres} #{person.apellidos}"
            %td= person.sector.nombre
%section.contact
  %h2 CONTÁCTENOS
  .contact-form
    %div
      %input{type: 'text', placeholder: 'Nombres'}
    %div
      %input{type: 'email', placeholder: 'Correo electrónico'}
    %div
      %textarea{placeholder: 'Escriba su mensaje'}
    %div
      %button.btn ENVIAR
