%section.background
  .max-container
    .medium-container.slider
      .us
        %h3 VISIÓN
        %p Brindamos asistencias de sepelio  a las familias, acompañándolas desde nuestra fe católica, con espíritu de oración, reverencia  y esperanza en la Resurrección.
      .us
        %h3 MISIÓN
        %p Ser reconocidos como un Cementerio Católico que se preocupa por las familias y que está conformado por un grupo humano acogedor, unido y comprometido.
      .us
        %h3 IDENTIDAD CATÓLICA
        %p Somos una Institución  Católica que tiene la actividad sagrada de enterrar a las personas y de evangelizar a sus familias, brindándoles asistencias previsionales con esperanza cristiana.
%section.obituario
  = image_tag 'logo-cruz.png'
  %h2 OBITUARIO
  .obituario
    %table
      %thead
        %tr
          %th Datos del beneficiario
          %th Sector
      %tbody
        - @people.each do |person|
          %tr
            %td= "#{person.nombres} #{person.apellidos}"
            %td= person.sector.nombre
%section.contact
  %h2 CONTÁCTENOS
  = form_tag root_path, class: 'contact-form' do
    %div
      = text_field_tag 'nombres', nil, placeholder: 'Nombres', required: true, pattern: '[a-zA-Z ]*$', title: 'Introduzca su(s) nombre(s) correctamente'
    %div
      = email_field_tag 'correo', nil, placeholder: 'Correo electrónico', required: true
    %div
      = text_area_tag 'mensaje', nil, placeholder: 'Escriba su mensaje', required: true
    %div
      %button.btn ENVIAR
