= form_for(@person) do |f|
  - if @person.errors.any?
    #error_explanation
      %h2
        = pluralize(@person.errors.count, "error")
        prohibited this person from being saved:
      %ul
        - @person.errors.full_messages.each do |message|
          %li= message
  = f.text_field :nombres, placeholder: 'Nombres', required: true
  = f.text_field :apellidos, placeholder: 'Apellidos', required: true
  = f.text_field :fecha_nac, placeholder: 'Fecha de nacimiento', required: true
  = f.text_field :fecha_fallecimiento, placeholder: 'Fecha de defunción', required: true
  = f.select :sector_id, options_from_collection_for_select(Sector.all, 'id', 'nombre', "#{@person.sector_id}")
  .actions
    = f.submit
