= form_for(@person) do |f|
  - if @person.errors.any?
    #error_explanation
      %h2
        = pluralize(@person.errors.count, "error")
        prohibited this person from being saved:
      %ul
        - @person.errors.full_messages.each do |message|
          %li= message
  .walker-form
    %div
      = f.text_field :nombres, placeholder: 'Nombres', required: true
    %div
      = f.text_field :apellidos, placeholder: 'Apellidos', required: true
    %div
      = f.text_field :fecha_nac, placeholder: 'Fecha de nacimiento', required: true, class: 'datePicker'
    %div
      = f.text_field :fecha_fallecimiento, placeholder: 'Fecha de defunción', required: true, class: 'datePicker'
    %div
      = f.select :sector_id, options_from_collection_for_select(Sector.all, 'id', 'nombre', "#{@person.sector_id}")
    .btn-group
      %button.btn Guardar
      = link_to 'Cancelar', people_path, class: 'btn-block btn btn-cancel'
