<p id="notice"><%= notice %></p>

<h1>Lista de fallecidos</h1>

<table>
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Fecha de nacimiento</th>
      <th>Fecha de fallecimiento</th>
      <th>Sector</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.nombres %></td>
        <td><%= person.apellidos %></td>
        <td><%= person.fecha_nac %></td>
        <td><%= person.fecha_fallecimiento %></td>
        <td><%= person.sector.nombre %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
