<p id="notice"><%= notice %></p>
<h2>
  <%= @person.nombres %>
</h2>
<h2>
  <%= @person.apellidos %>
</h2>
<h2>
  <%= @person.fecha_nac %>
</h2>
<h2>
  <%= @person.fecha_fallecimiento %>
</h2>
<h2>
  <%= @person.sector.nombre %>
</h2>
<%= link_to 'Editar', edit_person_path(@person) %> |
<%= link_to 'Atrás', people_path %>
