%p#notice= notice
%section.max-container
  %h2 Datos del beneficiario
  .data
    .show-data
      %h3 Nombres:
      %h3= @person.nombres_completos
    .show-data
      %h3 Fecha de nacimiento:
      %h3= @person.fecha_nac
    .show-data
      %h3 Fecha de defunción:
      %h3= @person.fecha_fallecimiento
    .show-data
      %h3 Sector:
      %h3= @person.sector.nombre
  %figure.sector= image_tag "sector-#{@person.sector.id}.png"
  - if admin_signed_in?
    .walker-form
      .btn-group
        = link_to 'Editar', edit_person_path(@person), class: 'btn-block btn'
        = link_to 'Atrás', people_path, class: 'btn-block btn btn-cancel'
