<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @user.nombres %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @user.correo %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @user.mensaje %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
