.authentication-body
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .inputs-group
      .group
        = f.password_field :password, autofocus: true, autocomplete: "off", required: true
        %span.bar
        %label Nueva contraseña (mínimo 8 caracteres)
      .group
        = f.password_field :password_confirmation, autocomplete: "off", required: true
        %span.bar
        %label Confirmar nueva contraseña
    .actions
      %button.btn.btn-block CAMBIAR CONTRASEÑA
