= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .inputs-group
    .group
      = f.email_field :email, required: true
      %span.highlight
      %span.bar
      = f.label :email
      %br/
    .group
      = f.password_field :password, autocomplete: "off", required: true
      %span.highlight
      %span.bar
      = f.label :password
  .actions
    %button.btn.btn-block INGRESAR
  .forgot-pwd
    = link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name)
