!!!
%html
  %head
    %title Walkers Cemetery
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "#{name} alert-message"}
          %p.no-margin<
            = msg
            %i.fa.fa-times>
    = yield
